body{
    background-color: black;
    margin: 0;
    display: grid;
    border: 1px solids;
    grid-template-columns: repeat(10, 300px);
    grid-template-rows: repeat(10, 300px);
}
#player img{
    height: 300px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}
#bar{
    color: white;
    z-index: 100;
    display: flex;
    gap: 3em;
    text-align: center;
    margin-left: 90vw;
    position: fixed;
}
#bar p{
    color: white;
    z-index: 100;
}