body{
    background-color: black;
    margin: 0;
    background-image: url(../assets/sprites/background-spawn.png);
    background-size: cover;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}
#player img{
    height: 250px;
    margin-top: 15em;
    margin-left: 10em;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}
#bar{
    color: white;
    z-index: 100;
    display: flex;
    gap: 3em;
    text-align: center;
    margin-left: 90vw;
    position: fixed;
}
#bar p{
    color: white;
    z-index: 100;
}
#commands-tab{
    padding-top: 5em;
    padding-right: 20vw;
    padding-bottom: 10em;
    margin-right: 100em;
    border-radius: 10px;
    margin-left: 2em;
    margin-top: 2em;
    background-color: rgb(43, 45, 49);
    box-shadow: 1px 1px 1em 1em rgba(230, 235, 245, 0.418);
}
#commands-tab input{
    margin-left: 1em;
    border-radius: 10px;
    background-color: rgb(43, 45, 49);
    transition: 0.5s;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}
#commands-tab input:focus{
    background-color: white;
}
#event{
    margin-left: 60vw;
    margin-top: 20em;
}
#event img{
    height: 250px;
}
#wold{
    display: flex;
}